{% extends "layout.html" %}

{% block css %}
  <link href="/static/css/charts.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<h1>We are on the {{department.name}} charts page!</h1>

<h3>Use of Force</h3>

<h4>Percent of arrests involving use of force</h4>

<div class="chart perc arrests uof">
  Can't do this: need total number of arrests.
</div>

<h4>use of force by year</h4>
<div class="chart per year uof">
  {{chart_blocks['uof-by-year'].content}}
</div>

<h4>use of force by month</h4>
<div class="chart per year uof">
</div>

<h4>use of force by district</h4>
<div class="chart per district uof">
</div>

<h4>use of force map</h4>
<div class="chart map uof">
</div>

<h4>use of force by type of force</h4>
<div class="chart type uof">
</div>

<h4>% use of force involving firearms</h4>
<div class="chart perc firearms uof">
</div>

<h4>% use of force involving firearms</h4>
<div class="chart perc firearms uof">
</div>

<h4>officer injuries in incidents with use of force</h4>
<div class="chart perc officer_injuries uof">
</div>

<h4>citizen injuries in incidents with use of force</h4>
<div class="chart perc citizen_injuries uof">
</div>

{% endblock content %}

{% block js %}
<script type="text/javascript" src="/static/js/charts.js"></script>

{% endblock js %}
