{% extends "layout.html" %}

{% block css %}
  <link href="/static/css/charts.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<h1>We are on the {{department.name}} charts page!</h1>

<h3>Use of Force</h3>

<h4>uof-by-year</h4>
<div class="uof-by-year"></div>
<h4>use of force by year</h4>
{{chart_blocks['uof-by-year'].slug}}
<div class="uof-by-year">
  {{chart_blocks['uof-by-year'].content}}
</div>

<h4>uof-type-of-call</h4>
<div class="uof-type-of-call"></div>


<h4>uof-reason</h4>
<div class="uof-reason"></div>

<h4>uof-citizen-weapon</h4>
<div class="uof-citizen-weapon"></div>

<h4>uof-by-shift</h4>
<div class="uof-by-shift"></div>

<h4>uof-by-inc-district</h4>
<div class="uof-by-inc-district"></div>

<h4>uof-map</h4>
<div class="uof-map"></div>

<h4>uof-force-type</h4>
<div class="uof-force-type"></div>

<h4>uof-officer-injuries</h4>
<div class="uof-officer-injuries"></div>

<h4>uof-resident-injuries</h4>
<div class="uof-resident-injuries"></div>

<h4>uof-dispositions</h4>
<div class="uof-dispositions"></div>

<h4>pd-resident-demographics</h4>
<div class="pd-resident-demographics"></div>

<h4>uof-race</h4>
<div class="uof-race"></div>

<h4>uof-per-officer</h4>
<div class="uof-per-officer"></div>

<h4>uof-officer-experience</h4>
<div class="uof-officer-experience"></div>


{% endblock content %}

{% block js %}
<script type="text/javascript" src="/static/js/histogram.js"></script>
<script type="text/javascript" src="/static/js/lineChart.js"></script>
<script type="text/javascript" src="/static/js/charts.js"></script>

{% endblock js %}
