{% extends "layout.html" %}
{% block content %}
    <h1>Welcome {{ session.username }}</h1>
    <h3>This is the {{department.name}} page.</h3>
    {% if department.get_extractor() == None %}
    <form action="{{department.id}}/activate" method="post">
      <input type="submit" name="submit" value="Activate">
    </form>
    {% else %}
    <form action="{{department.id}}/activate" method="post">
      <input type="submit" name="submit" value="Regenerate">
    </form>
    {% endif %}

    {% if department.get_extractor() != None %}
    <form action="{{department.id}}/start" method="post">
      <input type="number" name="month" min="1" max="12">
      <input type="number" name="year" min="2000" max={{current_year}}>
      <input type="submit" name="submit" value="Start">
    </form>
    {% endif %}

{% endblock %}
