{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h3>Department Data</h3>
    <table class="table">
      <tr>
        <th>
          Race
        </th>
        <th>
          Gender
        </th>
        <th>
          Count
        </th>
        <th>

        </th>
      </tr>
      {% for value in department_values %}
      <tr>
        <td>
          {{value.race}}
        </td>
        <td>
          {{value.gender}}
        </td>
        <td>
          {{value.count}}
        </td>
        <td>
          <form method="post" action="/department/{{department.id}}/demographicValue/{{value.id}}/delete">
              <input type="submit" value="Delete"/>
          </form>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <form method="post" action="/department/{{department.id}}/demographicValue/create">
          <td>
            <input type="text" class="form-control" name="race"/>
          </td>
          <td>
            <input type="text" class="form-control" name="gender"/>
          </td>
          <td>
            <input type="text" class="form-control" name="count"/>
          </td>
          <td>
            <input type="hidden" name="department_or_city" value="department">
            <input type="submit" value="Create" />
          </td>
        </form>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>City Data</h3>
    <table class="table">
      <tr>
        <th>
          Race
        </th>
        <th>
          Gender
        </th>
        <th>
          Count
        </th>
        <th>

        </th>
      </tr>
      {% for value in city_values %}
      <tr>
        <td>
          {{value.race}}
        </td>
        <td>
          {{value.gender}}
        </td>
        <td>
          {{value.count}}
        </td>
      </tr>
      {% endfor %}
      <tr>
        <form method="post" action="/department/{{department.id}}/demographicValue/create">
          <td>
            <input type="text" class="form-control" name="race"/>
          </td>
          <td>
            <input type="text" class="form-control" name="gender"/>
          </td>
          <td>
            <input type="text" class="form-control" name="count"/>
          </td>
          <td>
            <input type="hidden" name="department_or_city" value="city">
            <input type="submit" />
          </td>
        </form>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
