{% extends "layout.html" %}

{% block content %}
<form id="indexContentForm" class="form form-register" method="POST" action="" role="form">
  {{ form.hidden_tag() }}


  <h2>Letter from the Chief</h2>
  <div class="department">
    <img src="/static/img/chief.jpg" alt="An image of the departmet spokesperson" class="department-spokesperson">
    <div class="department-statement form-group">
        {{form.why_we_are_doing_this(class_="form-control")}}
    </div>
  </div>

  <h2>What is this</h2>
  <div class="department">
    <div class="department-statement form-group">
        {{form.what_this_is(class_="form-control")}}
    </div>
  </div>

  <h2>How you can use this data</h2>
  <div class="department">
    <div class="department-statement form-group">
        {{form.how_you_can_use_this_data(class_="form-control")}}
    </div>
  </div>

  <input class="btn btn-default btn-submit" type="submit" value="Save">
</form>

<h2>Data</h2>

<h3>Use of force</h3>

<p>Two sentences about this data set</p>
<p>Two charts highlighting this data set</p>

<h3>Officer-involved shootings</h3>

<p>Two sentences about this data set</p>
<p>Two charts highlighting this data set</p>


<h3>Complaints</h3>

<p>Two sentences about this data set</p>
<p>Two charts highlighting this data set</p>

<h2>Policies</h2>

<ul>
  <li>
    <a href="">Use of force policy</a>
  </li>
  <li>
    <a href="">Another important policy</a>
  </li>
  <li>
    <a href="">Policy about other things</a>
  </li>
</ul>

<h2>Police Training</h2>

<ul>
  <li>
    <a href="">Link to how we train officers</a>
  </li>
  <li>
    <a href="">Another link about training</a>
  </li>
</ul>

<h2>Community Outreach</h2>

<ul>
  <li>
    <a href="">Check out our Facebook page for upcoming community engagement events.</a>
  </li>
</ul>

{% endblock content %}

{% block footer %}
    <small>
    <ul class="company">
      <li>© Team Indy</li>
    </ul>

      <ul class="footer-nav">
        <li><a href="/department/id/site/disclaimer">Disclaimer</a></li>
        <li><a href="mailto:Indy@CodeForAmerica.org">Contact</a></li>
      </ul>

    </small>

{% endblock footer %}
