{% macro brick(chart_block, editing=False, department) %}
<div class="row">
    <div class="brick">
      {% if editing %}
          <form method="post" action="/content/{{chart_block.slug}}/{{department.id}}">
            <div class="form-group">
              <label for="chart_title">Chart Title:</label>
              <input type="text" class="form-control" name="chart_title" value="{{chart_block.title}}"/><br />
            </div>
              <div class="chart {{ chart_block.slug }}"></div>
            <div class="form-group">
              <label for="chart_content">Content:</label>
              <textarea class="form-control" name="chart_content">{{ chart_block.content }}</textarea>
            </div>
              <input type="submit" />
           </form>
         </br>
      {% else %}
        <div class="brick-titleblock col-md-12">
          <h4 class="brick-title">{{ chart_block.title }}</h4>
        </div>
        <div class="col-md-6">
          <div class="chart {{ chart_block.slug }}"></div>
        </div>
        <div class="col-md-5">
          <div class="content">{{ markdown(chart_block.content) }}</div>
        </div>
      {% endif %}
  </div>
</div>
{% endmacro %}
