{% extends "layout.html" %}

{% from "department/site/chart_block.html" import brick %}
{% from "department/site/horizontal_chart_block.html" import horizontal_brick %}
{% from "department/site/demographics_table_block.html" import demographic_brick %}

{% block css %}
  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
  <link href="/static/css/charts.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>{{department.name}}</h1>
    <h2>Citizen Complaints</h2>
    {% if editing %}
        <form method="post" action="/content/complaints-introduction/{{department.id}}">
          <div class="form-group">
            <label for="chart_content">Content:</label>
            <textarea class="form-control" name="chart_content">{{ chart_blocks['complaints-introduction'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
            <input type="submit" />
         </form>
       </br>
    {% else %}
      {{ markdown(chart_blocks['complaints-introduction'].content) }}
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {{ horizontal_brick( chart_blocks['complaints-by-month'], editing, department ) }}
    {{ brick( chart_blocks['complaints-by-allegation-type'] , editing, department) }}
    {{ brick( chart_blocks['complaints-by-allegation'] , editing, department) }}
    {{ brick( chart_blocks['complaints-by-disposition'] , editing, department) }}
    {{ brick( chart_blocks['complaints-by-precinct'] , editing, department) }}
    {{ demographic_brick( chart_blocks['officer-demographics'] , editing, department) }}
    {{ brick( chart_blocks['complaints-by-demographic'] , editing, department) }}
    {{ brick( chart_blocks['complaints-by-officer'] , editing, department) }}
</div>

{% endblock content %}

{% block js %}
<script type="text/javascript">
var csv_url = '{{ url_for(".complaints_csv", department_id=department.id ) }}';
var charts = [
  'complaints-by-month',
  'complaints-by-allegation',
  'complaints-by-allegation-type',
  'complaints-by-disposition',
  'complaints-by-precinct',
  'complaints-by-demographic',
  'complaints-by-officer',
];
</script>
<script type="text/javascript" src="/static/js/map.js"></script>
<script type="text/javascript" src="/static/js/histogram.js"></script>
<script type="text/javascript" src="/static/js/lineChart.js"></script>
<script type="text/javascript" src="/static/js/matrixChart.js"></script>
<script type="text/javascript" src="/static/js/charts.js"></script>
<script type="text/javascript" src="/static/js/chartConfigs.js"></script>

{% endblock js %}
