{% extends "layout.html" %}
{% from "department/site/chart_block.html" import brick %}

{% block css %}
  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
  <link href="/static/css/charts.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>{{department.name}}</h1>
    <h2>Citizen Complaints</h2>
{{ brick( chart_blocks['complaints-by-year'] ) }}
{{ brick( chart_blocks['complaints-by-disposition'] ) }}
</div>

{% endblock content %}

{% block js %}
<script type="text/javascript">
var csv_url = '{{ url_for(".complaints_csv", department_id=department.id ) }}';
var charts = [
  'complaints-by-year',
  'complaints-by-allegation',
  'complaints-by-allegation-type',
  'complaints-by-disposition',
  'complaints-by-precinct',
];
</script>
<script type="text/javascript" src="/static/js/map.js"></script>
<script type="text/javascript" src="/static/js/histogram.js"></script>
<script type="text/javascript" src="/static/js/lineChart.js"></script>
<script type="text/javascript" src="/static/js/charts.js"></script>

{% endblock js %}
