{% extends "layout.html" %}

{% block css %}
  <link href="/static/css/charts.css" rel="stylesheet">
{% endblock css %}

{% block content %}
{% if preview_mode %} 
{% block edit_nav %}
  <div class="admin_edit_btn">
    <a href="/department/{{department.id}}/edit/{{endpoint_name}}" title="Edit"><button type="">Edit</button></a>
    <a href="/department/{{department.id}}" title="Done"><button type="">Done</button></a>
  </div>
{% endblock edit_nav %}

{% endif %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>{{department.name}}</h1>
    {% if editing %}

        <form method="post" action="/content/introduction/{{department.id}}">
          <div class="form-group">
            <label for="chart_title">Chart Title:</label>
            <input type="text" class="form-control" name="chart_title" value="{{chart_blocks['introduction'].title}}"/><br />
          </div>
          <div class="form-group">
            <label for="chart_content">Content:</label>
            <textarea class="form-control" name="chart_content">{{ chart_blocks['introduction'].content }}</textarea>
          </div>
            <input type="submit" />
         </form>
       </br>
    {% else %}
      <h2>{{chart_blocks['introduction'].title}}</h2>
      {{ markdown(chart_blocks['introduction'].content) }}
    {% endif %}
  </div>
</div>

{% endblock content %}

{% block footer %}
    <small>
    <ul class="company">
      <li>© Team Indy</li>
    </ul>

      <ul class="footer-nav">
        <li><a href="/department/id/site/disclaimer">Disclaimer</a></li>
        <li><a href="mailto:Indy@CodeForAmerica.org">Contact</a></li>
      </ul>

    </small>

{% endblock footer %}
