{% extends "department/site/public_dataset_base.html" %}

{% block dataset_content %}

<div class="row">

  <div class="col-xs-12 col-sm-5">
    <h2>Officer Involved Shootings</h2>

    <!-- display introduction text -->
    {% if not editing and chart_blocks['introduction'] %}
    <p class="intro_text">
      {{ markdown(chart_blocks['introduction'].content) }}
    </p>
    {% endif %}

    <!-- data button -->
    <a href="{{ url_for(
      'department.public_ois_schema', short_name=department.short_name.upper())
      }}" class="btn btn-primary btn-lg">
      <i class="fa fa-file"></i>&nbsp;&nbsp;
      Get this dataset
    </a>

    {{ chart_toc(chart_blocks=chart_blocks) }}

  </div> <!-- end col -->

  <!-- edit introduction text -->
  {% if editing and chart_blocks['introduction'] %}
  <div class="editing-form col-sm-6">
    <form method="post" action="/content/{{ chart_blocks['introduction'].slug }}/{{department.id}}">
      <div class="form-group">
        <label for="chart_content">Content:</label>
        <textarea class="form-control" name="chart_content">{{ chart_blocks['introduction'].content }}</textarea>
        <input type="hidden" name="chart_title" value=""/>
      </div>
      <input type="submit" />
    </form>
  </div>  <!-- end col -->
  {% endif %}

<!-- display/edit first block -->
{% if chart_blocks['first-block'] %}
{{ brick(chart_blocks['first-block'], department, editing, one_col=True) }}
{% endif %}
</div>  <!-- end row -->

<!-- display/edit remaining blocks -->
{% for block in chart_blocks['blocks'] %}
<div class="row">
{{ brick(block, department, editing) }}
</div>
{%- endfor %}

{% endblock dataset_content %}

{% block js %}
<script type="text/javascript">
var csv_url = '{{ url_for("department.ois_csv", department_id=department.id ) }}';
var DEMOGRAPHICS = {{ department.serialize_demographics()|safe }};
var charts = [
  {% if chart_blocks['first-block'] %}
  "{{chart_blocks['first-block'].slug}}",
  {% endif %}
  {% for block in chart_blocks['blocks'] -%}
  "{{ block.slug }}",
  {%- endfor %}
];
</script>
<script type="text/javascript" src="/static/js/histogram.js"></script>
<script type="text/javascript" src="/static/js/lineChart.js"></script>
<script type="text/javascript" src="/static/js/matrixChart.js"></script>
<script type="text/javascript" src="/static/js/charts.js"></script>
<script type="text/javascript" src="/static/js/chartConfigs.js"></script>

{% endblock js %}
