{% extends "layout.html" %}

{% from "department/site/chart_block.html" import brick %}
{% from "department/site/horizontal_chart_block.html" import horizontal_brick %}

{% block css %}
  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
  <link href="/static/css/charts.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>{{department.name}}</h1>
    <h2>Use of Force</h2>
    {% if editing %}
        <form method="post" action="/content/ois-introduction/{{department.id}}">
          <div class="form-group">
            <label for="chart_content">Content:</label>
            <textarea class="form-control" name="chart_content">{{ chart_blocks['ois-introduction'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
            <input type="submit" />
         </form>
       </br>
    {% else %}
      {{ markdown(chart_blocks['ois-introduction'].content) }}
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {{ brick( chart_blocks['ois-by-inc-district'] , editing, department) }}
    {{ brick( chart_blocks['ois-weapon-type'] , editing, department) }}
    {{ brick( chart_blocks['officer-demographics'] , editing, department) }}
    {{ brick( chart_blocks['ois-race'] , editing, department) }}
  </div>
</div>

{% endblock content %}

{% block js %}
<script type="text/javascript">
var csv_url = '{{ url_for(".ois_csv", department_id=department.id ) }}';
var DEMOGRAPHICS = {{ department.serialize_demographics()|safe }};
var charts = [
    'ois-by-inc-district',
    'ois-weapon-type',
    'officer-demographics',
    'ois-race',
];
</script>
<script type="text/javascript" src="/static/js/map.js"></script>
<script type="text/javascript" src="/static/js/histogram.js"></script>
<script type="text/javascript" src="/static/js/lineChart.js"></script>
<script type="text/javascript" src="/static/js/matrixChart.js"></script>
<script type="text/javascript" src="/static/js/charts.js"></script>
<script type="text/javascript" src="/static/js/chartConfigs.js"></script>

{% endblock js %}
