{% extends "layout.html" %}

{% from "department/site/chart_block.html" import brick %}
{% from "department/site/horizontal_chart_block.html" import horizontal_brick %}
{% from "department/site/demographics_table_block.html" import demographic_brick %}

{% block css %}
  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
  <link href="/static/css/charts.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>{{department.name}}</h1>
    <h2>Use of Force</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {{ brick( chart_blocks['uof-by-inc-district'] , editing, department) }}
</div>

{% endblock content %}

{% block js %}
<script type="text/javascript">
var csv_url = '{{ url_for(".use_of_force_csv", department_id=department.id ) }}';
var charts = [];
</script>
<script type="text/javascript" src="/static/js/map.js"></script>
<script type="text/javascript" src="/static/js/histogram.js"></script>
<script type="text/javascript" src="/static/js/lineChart.js"></script>
<script type="text/javascript" src="/static/js/matrixChart.js"></script>
<script type="text/javascript" src="/static/js/charts.js"></script>
<script type="text/javascript" src="/static/js/chartConfigs.js"></script>

{% endblock js %}
