{% extends "department/site/public_dataset_base.html" %}

{% block dataset_content %}

<div class="row">

  <div class="col-xs-12 col-sm-5">
    <h2>Use of Force</h2>

    {% if not editing %}
    <p class="intro_text">
      {{ markdown(chart_blocks[0].content) }}
    </p>
    {% endif %}

    <a href="{{ url_for(
      'department.public_uof_schema', short_name=department.short_name.upper())
      }}" class="btn btn-primary btn-lg">
      <i class="fa fa-file"></i>&nbsp;&nbsp;
      Get use of force data
    </a>

    {{ chart_toc(blocks=chart_blocks) }}

  </div>  <!-- end col -->


  {% if editing %}
  <div class="editing-form col-xs-12 col-lg-6">
    <form method="post" action="/content/uof-introduction/{{department.id}}">
      <div class="form-group">
        <label for="chart_content">Content:</label>
        <textarea class="form-control" name="chart_content">{{ chart_blocks['uof-introduction'].content }}</textarea>
        <input type="hidden" name="chart_title" value=""/>
      </div>
        <input type="submit" />
     </form>
  </div>  <!-- end col -->
  {% endif %}

{{ brick(chart_blocks[1], department, editing, one_col=True) }}

</div>  <!-- end row -->


{% for block in chart_blocks %}
{%- if "-introduction" not in block.slug and '-by-month' not in block.slug %}
<div class="row">
{{ brick(block, department, editing) }}
</div>
{%- endif %}
{%- endfor %}

{% endblock dataset_content %}

{% block js %}
<script type="text/javascript">
var csv_url = '{{ url_for("department.use_of_force_csv", department_id=department.id ) }}';
var DEMOGRAPHICS = {{ department.serialize_demographics()|safe }};
var charts = [
{%- for b in chart_blocks %}
{%- if "-introduction" not in b.slug %}
  "{{ b.slug }}",
{%- endif %}
{%- endfor %}
];
</script>
<script type="text/javascript" src="/static/js/histogram.js"></script>
<script type="text/javascript" src="/static/js/lineChart.js"></script>
<script type="text/javascript" src="/static/js/matrixChart.js"></script>
<script type="text/javascript" src="/static/js/charts.js"></script>
<script type="text/javascript" src="/static/js/chartConfigs.js"></script>

{% endblock js %}
