.trend-line {
  fill: none;
  stroke-width: 2px;
  stroke: #205493;
}

.dot {
  fill: #205493;
  stroke-width: 2px;
  stroke: #fff;
}

.x.axis path {
  fill: none;
}

.tick-line {
  stroke-width: 0.5px;
  stroke: #aaa;
}

.hist-flag-bar {
  height: 1em;
  background-color: #205493;
  display: inline-block;
  margin: 0 0.5em -0.1em 0.7em;
}
.flagHistogram-table td, .hist-flag-label {
  padding: 0.3em 0 0.3em 0;
}
.flagHistogram-table tr + tr {
  border-top: 1px solid #eee;
}

.percent + .percent {
  margin-left: 2em;
}
.percent-amt {
  font-size: 2em;
}
.percent-symbol {
  font-size: 0.6em;
}
.percent-label {
  margin-left: 0.5em;
}
