body {
  font-family: 
}

div[role="main"] {
  width: 40em;
  margin: 0 auto;
}

.trend-line {
  fill: none;
  stroke-width: 2px;
  stroke: #00f;
}

.dot {
  fill: #00f;
  stroke-width: 2px;
  stroke: #fff;
}

.x.axis path {
  fill: none;
}

.tick-line {
  stroke-width: 0.5px;
  stroke: #aaa;
}

.hist-flag-bar {
  height: 1em;
  background-color: #aaf;
  display: inline-block;
  margin: 0 1em;
}

.percent + .percent {
  margin-left: 2em;
}
.percent-amt {
  font-size: 2em;
}
.percent-symbol {
  font-size: 0.6em;
}
.percent-label {
  margin-left: 0.5em;
}

.brick + .brick {
  margin-top: 2.5em;
}
.brick-title {
  padding-bottom: 0.6em;
  border-bottom: 1px solid black;
}
.chart { padding-top: 0.4em; }
