
.trend-line {
  fill: none;
  stroke-width: 2px;
  stroke: #00f;
}

.dot {
  fill: #00f;
  stroke-width: 2px;
  stroke: #fff;
}

.x.axis path {
  fill: none;
}

.tick-line {
  stroke-width: 0.5px;
  stroke: #aaa;
}
