/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html { overflow-y: scroll;
  font-size: 17px;
  line-height: 26px;
}

body { padding-top: 60px; }

/* COLORS
 */
.navbar-inverse {
  background-color: #112e51;
  color: #fff;
}
.navbar-inverse .navbar-brand { color: inherit; }
.navbar-inverse .navbar-text { color: inherit; }
.navbar-inverse .navbar-link { color: inherit; }
.navbar-inverse .navbar-nav > li > a { color: inherit; }

/* TYPOGRAPHY
 * https://playbook.cio.gov/designstandards/visual-style/#typography
 */

/* Merriweather bold headings
 */
h1, h2, h3, h4, h5 {
  font-family: Merriweather, Georgia, serif;
  font-weight: 700;
}
.display, .display h1 { font-size: 52px; line-height: 68px; }
h1 { font-size: 40px; line-height: 52px; }
h2 { font-size: 30px; line-height: 39px; }
h3 { font-size: 20px; line-height: 26px; }
h4 { font-size: 17px; line-height: 22px; }
h5 { font-size: 15px; line-height: 20px; }

/* Source Sans Pro body */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
}

/* LAYOUT
 */

.aside, .lead {
  font-family: Merriweather, Georgia, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  margin: 0.7em 0 0.7em 0;
  padding: 0.7em 0;
}

.aside {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

p + p {
  margin-top: 0.7em;
}

.display {
  padding: 1.7em 0 0.7em 0;
  width: 40rem;
}

.logo {
  width: 25px;
  height: 25px;
}


.intro-text {
  margin-top: 20px;
}


@media (min-width: 768px) {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
/* Splash/Home */
.cfalogo {
    padding-left: 0;
    width: 150px;
}

.cfalogo img {
  height: 40px;
  width: 80px;
}

#tagline {
  padding: 0;
  width: 100%;
}

#tagline h1 {
  font-size: 38px;
}

#splash .row .display h1 {
  margin-top: 0;
}

#dataset-spotlight img {
  height: 70px;
  width: 70px;
}

.pilot {
  position: center;
  margin-left: 35px;
}
.IndyDPS {
  height: 90px;
  width: 90px;
  margin-left: 45px;
  position: center;
}

.brick { padding-top: 3em; }

.brick .chart, .brick .content { margin-top: 1.5em; }
.brick-titleblock {
  border-bottom: 1px solid black;
  padding-bottom: 0.6em;
  margin-bottom: 1em;
}
span.brick-title {
  margin-right: 1em;
}
.brick-datespan {
  font-size: 0.9em;
  font-weight: normal;
}
.brick-datespan .month {
  font-size: 0.9em;
}

/*Schema */
.schema-wrapper{
  padding-left: 40px;
  padding-right: 40px;
}
.schema-wrapper p{
  width: 100%;
}

.schema-header{
  text-align: center;
  padding-bottom: 10px;
}

.schema-table td{
  padding: 15px;
}

.schema-table td:first-child {
  font-style: italic;
  padding-right: 30px;
}
.disclaimer{
  font-size: 7px;
  color: #CCCCCC;
}
.disclaimer p{
  width: 100%;
}

/* Forms */

.form-group {
  width: 32rem;
}

button {
  background-color: #0071bc;
  color: white;
  border: none;
  border-radius: 0.3rem;
  margin: 0.5rem 0;
  padding: 0.3em 0.5em;
}
button:hover {
  background-color: #205493;
}
button:active {
  background-color: #112e51;
}
.action-button-big {
  display: block;
  width: 100%;
}

.action-button-huge {
  width: 100%;
  font-size: 20px;
  line-height: 34px;
}

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

.horizontal-content > p {
  width: inherit;
}
