
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="display">
      <h1>Change the conversation with transparency.</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
    <strong>Comport</strong> is a tool for law enforcement agencies to open their data and be accountable to their citizens.
    </p>

      <p>Public safety teams can plug in existing internal affairs data, add contextual information about policies and programs, and quickly create an open data site. It is compatible with IA Pro, the industry-leading professional standards software.</p>

      <p class="aside">Sharing this information can change the conversation with your community—from debating problems to discussing solutions.</p>

      <p>Interested in participating in Comport's limited beta in 2016? Let us know.</p>

      <p>
      <a class="button_wrapper" href="/interest/">
        <button class="action-button-huge" type="button">Find out more</button>
      </a>
      </p>

  </div>
</div>
{% endblock %}
