
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Change the conversation with transparency.</h1>
</div><!-- /.jumbotron -->

  <p>Comport is a tool for law enforcement agencies to open their data and be accountable to their citizens. Public safety teams can plug in existing internal affairs data, add contextual information about policies and programs, and quickly create an open data site. It is compatible with IA Pro, the industry-leading professional standards software.</p>
  <p class="lead">Sharing this information can change the conversation with your community – from debating problems to discussing solutions.</p>
  <p>Interested in participating in Comport's limited beta in 2016? Let us know.</p>

  <h3><a href="/interest/">Find out more</a></h3>

{% endblock %}
