
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="splash">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="tagline" class="display">
        <h1>Change the conversation with transparency.</h1>
      </div>
      <p><strong>Comport</strong> is a tool for law enforcement agencies to open their data and be accountable to their citizens.</p>
      <p>Law enforcement agencies can plug in existing internal affairs data, add contextual information about policies and programs, and quickly create an open data site. It is compatible with IA Pro, the industry-leading professional standards software.</p>


    </div>
  </div>
  <div class="row aside">
    <h3> Share information to change the conversation in your community from debating problems to discussing solutions.</h3>
    <div id="dataset-spotlight" class="col-md-4">
      <a href="/department/IMPD/complaints">
        <img src="{{url_for('static', filename='img/complaints.png') }}" alt="">
        Complaints
      </a>
    </div>
    <div id="dataset-spotlight" class="col-md-4">
      <a href="/department/IMPD/useofforce">
        <img src="../static/img/uof.png">
        Use of Force
      </a>
    </div>
    <div id="dataset-spotlight" class="col-md-4">
      <a href="department/IMPD/officerinvolvedshootings">
      <img src="../static/img/ois.png">
      Officer Involved Shootings
    </a>
    </div>
  </div>
   <p> For more information about this project, check out our <a href="/about/">about page</a>.</p>
</div>
{% endblock %}
