
{% extends "layout.html" %}
{% block content %}
<p class="lead">Thank you for expressing interest in Project Comport. Please let us know about you and your agency and we will be in touch.</p>

<form id="interestForm" class="form form-register" method="POST" action="" role="form">
        {{ interest_form.hidden_tag() }}
        <div class="form-group">
            {{interest_form.name.label}}
            {{interest_form.name(placeholder="Full Name", class_="form-control")}}
        </div>
        <div class="form-group">
            {{interest_form.agency.label}}
            {{interest_form.agency(placeholder="Agency", class_="form-control")}}
        </div>
        <div class="form-group">
            {{interest_form.location.label}}
            {{interest_form.location(placeholder="City, State", class_="form-control")}}
        </div>
        <div class="form-group">
            {{interest_form.phone.label}}
            {{interest_form.phone(placeholder="Phone", class_="form-control")}}
        </div>
        <div class="form-group">
            {{interest_form.email.label}}
            {{interest_form.email(placeholder="Email", class_="form-control")}}
        </div>
        <div class="form-group">
            {{interest_form.comments.label}}
            {{interest_form.comments(placeholder="Questions/Comments", class_="form-control")}}
        </div>
        <p>
        <button class="action-button-huge" type="submit">
          Submit
        </button>
          </p>
{% endblock %}
