
{% set show_login = current_user and current_user.is_authenticated() and not published %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      {% if show_login %}
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#login-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% endif %}
      <a class="navbar-brand" href="{{ url_for('public.home') }}"><img class="logo" src="/static/img/comportlogodark.png" alt="project comport logo"><span class="logo-text">Project Comport</span></a>
    </div>

    {% if show_login %}
    <div class="collapse navbar-collapse" id="login-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-text"><a class="navbar-link" href="{{ url_for('user.home') }}"><strong>{{ current_user.username }}</strong></a> (<a class="navbar-link" href="{{ url_for('public.logout') }}">sign out</a>)</span></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    {% endif %}
  </div><!-- /.container-fluid -->
</nav>
