{% extends "layout.html" %}

{% block content %}
{% if preview_mode %} 
  <div class="admin_edit_btn">
    {% set endpoint_name = request.path.split('/')[-1] %}
    <a href="/department/{{department.id}}/edit/schema/{{endpoint_name}}" title="Edit"><button type="">Edit</button></a>
    <a href="/department/{{department.id}}" title="Done"><button type="">Done</button></a>
  </div>
{% endif %}
<div class="row">
  <div class="col-md-12 schema-wrapper">
    <div class="schema-header">
      <h1>Dataset: Assaults on Officers</h1>


      <a class="btn btn-default" href="https://data.indy.gov/dataset/IMPD-Citizen-Complaints/h8rn-gy8c">
        View this data on the Indianapolis Regional Data Portal
      </a>


      <form method="get" action="/department/{{department.id}}/assaultsonofficers.csv">
        <button type="submit">Download this dataset</button>
      </form>

      <form method="get" action="/department/{{department.id}}/demographics.csv">
        <button type="submit">Download Officer Demographic Information for the IMPD</button>
      </form>

      <form method="get" action="/department/{{department.id}}/officerCalls.csv">
        <button type="submit">Download Officer Call Information<sup>*</sup> for the IMPD</button>
      </form>
    </div>

    <!-- Intro -->
    {% if not editing %}
    <p>
      {{ markdown(chart_blocks['introduction'].content) }}
    </p>
    {% else %}
    <div class="editing-form col-xs-12 col-sm-6">
      <form id="editIntro" method="post" action="/content/{{ chart_blocks['introduction'].slug }}/{{department.id}}">
        <div class="form-group">
          <label for="chart_content">Intro:</label>
          <textarea class="form-control" name="chart_content">{{ chart_blocks['introduction'].content }}</textarea>
          <input type="hidden" name="chart_title" value=""/>
        </div>
        <input type="submit" />
      </form>
    </div>  <!-- end col -->
    {% endif %}

    <!-- Fields -->
    <h4>Fields included in this dataset and their definitions:</h4>
    <table class="table schema-table">
      <tr>
        <th>Field</th>
        <th>Information</th>
      </tr>

      {% for block in chart_blocks['blocks'] %}
      <tr>
      {% if not editing %}
        <td>{{ markdown(block.title) }}</td>
        <td>{{ markdown(block.content) }}</td>
      {% else %}
        <!-- Title and Content -->
        <td>
          <form id="edit{{ block.slug|replace("assaults-schema-field-", "")|replace("-", " ")|title|replace(" ", "") }}TitleContentAndOrder" method="post" action="/content/{{ block.slug }}/{{department.id}}">
            <div class="form-group">
              <textarea class="form-control" name="chart_title">{{ block.title }}</textarea>
              <textarea class="form-control" name="chart_content">{{ block.content }}</textarea>
              <textarea class="form-control" name="chart_order">{{ block.order }}</textarea>
              <input type="hidden" name="blocks_prefix" value="assaults-schema-field-" />
              <input type="submit" />
            </div>
          </form>
        </td>
      {% endif %}
      </tr>
      {%- endfor %}
    </table>
  </div>

  <!-- Footer -->
  {% if not editing %}
  <div class='row'>
    <div class="col-md-12">
      <p>{{ markdown(chart_blocks['footer'].content) }}</p>
    </div>
  </div>
  {% else %}
  <div class="editing-form col-xs-12 col-sm-6">
    <form id="editFooter" method="post" action="/content/{{ chart_blocks['footer'].slug }}/{{department.id}}">
      <div class="form-group">
        <label for="chart_content">Footer:</label>
        <textarea class="form-control" name="chart_content">{{ chart_blocks['footer'].content }}</textarea>
        <input type="hidden" name="chart_title" value=""/>
      </div>
      <input type="submit" />
    </form>
  </div>  <!-- end col -->
  {% endif %}

  <!-- disclaimer -->
  {% if not editing %}
    <div class='row'>
    <div class="col-md-12 disclaimer">
      <p>{{ markdown(chart_blocks['disclaimer'].content) }}</p>
    </div>
  </div>
  {% else %}
  <div class="editing-form col-xs-12 col-sm-6">
    <form id="editDisclaimer" method="post" action="/content/{{ chart_blocks['disclaimer'].slug }}/{{department.id}}">
      <div class="form-group">
        <label for="chart_content">Disclaimer:</label>
        <textarea class="form-control" name="chart_content">{{ chart_blocks['disclaimer'].content }}</textarea>
        <input type="hidden" name="chart_title" value=""/>
      </div>
      <input type="submit" />
    </form>
  </div>  <!-- end col -->
  {% endif %}
</div>




{% endblock content %}
{% block footer %}
    <small>
    <ul class="company">
      <li>© Team Indy</li>
    </ul>

      <ul class="footer-nav">
        <li><a href="/department/id/site/disclaimer">Disclaimer</a></li>
        <li><a href="mailto:Indy@CodeForAmerica.org">Contact</a></li>
      </ul>

    </small>

{% endblock footer %}
