{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12 schema-wrapper">
    <div class="schema-header">
      <h1>Dataset: Citizen Complaints</h1>

      {% if editing %}
          <form method="post" action="/content/data-portal-link/{{department.id}}">
            <div class="form-group">
              <label for="chart_content">Link to external data portal:</label>
              <textarea class="form-control" name="chart_content">{{ chart_blocks['data-portal-link'].content }}</textarea>
              <input type="hidden" name="chart_title" value=""/>
            </div>
              <input type="submit" />
           </form>
         </br>
      {% else %}
        {{ markdown(chart_blocks['data-portal-link'].content) }}
      {% endif %}

      <form method="get" action="/department/{{department.id}}/complaints.csv">
        <button type="submit">Download this dataset</button>
      </form>

      <form method="get" action="/department/{{department.id}}/demographics.csv">
        <button type="submit">Download Officer Demographic Information for the {{ department.short_name}}</button>
      </form>

      <form method="get" action="/department/{{department.id}}/officerCalls.csv">
        <button type="submit">Download Officer Call Information<sup>*</sup> for the {{ department.short_name}}</button>
      </form>
    </div>


    {% if editing %}
        <form method="post" action="/content/schema-complaints-introduction/{{department.id}}">
          <div class="form-group">
            <label for="chart_content">Introduction to the complaints schema page:</label>
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-introduction'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
            <input type="submit" />
         </form>
       </br>
    {% else %}
      {{ markdown(chart_blocks['schema-complaints-introduction'].content) }}
    {% endif %}

    {% if editing %}
    <h4>Fields included in this dataset and their definitions:</h4>
    <table class="table schema-table">
      <tr>
        <th>Field</th>
        <th>Information</th>
        <th></th>
      </tr>
      <tr>
        <td>Id</td>
        <form method="post" action="/content/schema-complaints-id/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-id'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>
      <tr>
        <td>Occured Date</td>
        <form method="post" action="/content/schema-complaints-date/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-date'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>
      <tr>
        <td>Service Type</td>
        <form method="post" action="/content/schema-complaints-service-type/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-service-type'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>

      <tr>
        <td>Source</td>
        <form method="post" action="/content/schema-complaints-source/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-source'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>



      <tr>
        <td>Division</td>
        <form method="post" action="/content/schema-complaints-division/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-division'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>

      <tr>
        <td>District</td>
        <form method="post" action="/content/schema-complaints-district/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-district'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>

      <tr>
        <td>Shift</td>
        <form method="post" action="/content/schema-complaints-shift/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-shift'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>

      <tr>
        <td>Beat</td>
        <form method="post" action="/content/schema-complaints-beat/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-beat'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>



      <tr>
        <td>Finding</td>
        <form method="post" action="/content/schema-complaints-finding/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-finding'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>
      <tr>
        <td>Allegation Type</td>
        <form method="post" action="/content/schema-complaints-allegation-type/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-allegation-type'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>

      <tr>
        <td>Allegation</td>
        <form method="post" action="/content/schema-complaints-allegation/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-allegation'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>



      <tr>
        <td>Resident Race</td>
        <form method="post" action="/content/schema-complaints-resident-race/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-resident-race'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>


      <tr>
        <td>Resident Sex</td>
        <form method="post" action="/content/schema-complaints-resident-sex/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-resident-sex'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>



      <tr>
        <td>Resident Age</td>
        <form method="post" action="/content/schema-complaints-resident-age/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-resident-age'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>



      <tr>
        <td>Officer Race</td>
        <form method="post" action="/content/schema-complaints-officer-race/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-officer-race'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>


      <tr>
        <td>Officer Sex</td>
        <form method="post" action="/content/schema-complaints-officer-sex/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-officer-sex'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>



      <tr>
        <td>Officer Age</td>
        <form method="post" action="/content/schema-complaints-officer-age/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-officer-age'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>

      <tr>
        <td>Officer Years of Service</td>
        <form method="post" action="/content/schema-complaints-officer-tenure/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-officer-tenure'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>
      <tr>
        <td>Officer Identifier</td>
        <form method="post" action="/content/schema-complaints-officer-id/{{department.id}}">
        <td>
          <div class="form-group">
            <textarea class="form-control" name="chart_content">{{ chart_blocks['schema-complaints-officer-id'].content }}</textarea>
            <input type="hidden" name="chart_title" value=""/>
          </div>
          <td>
            <input type="submit" />
          </td>
         </form>
      </tr>
    </table>
    </div>
  {% else %}
  <h4>Fields included in this dataset and their definitions:</h4>
  <table class="table schema-table">
    <tr>
      <th>Field</th>
      <th>Information</th>
    </tr>
    <tr>
      <td>Id</td>
      <td>{{ markdown(chart_blocks['schema-complaints-id'].content) }}</td>
    </tr>
    <tr>
      <td>Occured Date</td>
        <td>{{ markdown(chart_blocks['schema-complaints-date'].content) }}</td>
    </tr>
    <tr>
      <td>Service Type</td>
      <td>{{ markdown(chart_blocks['schema-complaints-service-type'].content) }}</td>
    </tr>
    <tr>
      <td>Source</td>
      <td>{{ markdown(chart_blocks['schema-complaints-source'].content) }}</td>
    </tr>
    <tr>
      <td>Division</td>
      <td>{{ markdown(chart_blocks['schema-complaints-division'].content) }}</td>
    </tr>
    <tr>
      <td>District</td>
      <td>{{ markdown(chart_blocks['schema-complaints-district'].content) }}</td>
    </tr>
    <tr>
      <td>Shift</td>
      <td>{{ markdown(chart_blocks['schema-complaints-shift'].content) }}</td>
    </tr>
    <tr>
      <td>Beat</td>
      <td>{{ markdown(chart_blocks['schema-complaints-beat'].content) }}</td>
    </tr>
    <tr>
      <td>Finding</td>
      <td>{{ markdown(chart_blocks['schema-complaints-finding'].content) }}</td>
    </tr>
    <tr>
      <td>Allegation Type</td>
      <td>{{ markdown(chart_blocks['schema-complaints-allegation-type'].content) }}</td>
    </tr>
    <tr>
      <td>Allegation</td>
      <td>{{ markdown(chart_blocks['schema-complaints-allegation'].content) }}</td>
    </tr>
    <tr>
      <td>Resident Race</td>
      <td>{{ markdown(chart_blocks['schema-complaints-resident-race'].content) }}</td>
    </tr>
    <tr>
      <td>Resident Sex</td>
      <td>{{ markdown(chart_blocks['schema-complaints-resident-sex'].content) }}</td>
    </tr>
    <tr>
      <td>Resident Age</td>
      <td>{{ markdown(chart_blocks['schema-complaints-resident-age'].content) }}</td>
    </tr>
    <tr>
      <td>Officer Race</td>
      <td>{{ markdown(chart_blocks['schema-complaints-officer-race'].content) }}</td>
    </tr>
    <tr>
      <td>Officer Sex</td>
      <td>{{ markdown(chart_blocks['schema-complaints-officer-sex'].content) }}</td>
    </tr>
    <tr>
      <td>Officer Age</td>
      <td>{{ markdown(chart_blocks['schema-complaints-officer-age'].content) }}</td>
    </tr>
    <tr>
      <td>Officer Years of Service</td>
      <td>{{ markdown(chart_blocks['schema-complaints-officer-tenure'].content) }}</td>
    </tr>
    <tr>
      <td>Officer Identifier</td>
      <td>{{ markdown(chart_blocks['schema-complaints-officer-id'].content) }}</td>
    </tr>
  </table>
</div>
  {% endif %}

  <div class='row'>
    <div class="col-md-12">
      <p><sup>*</sup>Officer Call data represents the number of calls for service from residents that officers responded to plus the number of times officers themselves initiated a response.</p>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-12 disclaimer">
      <p>DISCLAIMER OF LIABILITY: The City voluntarily provides the data on this website as a service to the public. The City retains ownership of any data or documents that originate with City, and the data may not be sold, published, or exchanged for commercial purposes. The City no representation, either implied or expressed, as to the content, accuracy, or completeness of any of the data provided at this website.  The City makes this data available on an “as is” basis and explicitly disclaims any representations and warranties.</p>

      <p>RESERVATION OF RIGHTS: The City reserves the right to discontinue availability of content on this website at any time and for any reason.  The City also reserves the right to claim or seek to protect any intellectual property rights in any of the information, images, software, or processes displayed or used at this website. The data provided on this website does not grant anyone any title or right to any patent, copyright, trademark or other intellectual property rights that the City may have in any of the information, images, software, or processes displayed or used at this website.</p>

      <p>INDEMNIFICATION: To the fullest extent permitted by law, any user of the data provided at this website shall defend, indemnify,  hold harmless the City, its officers, officials and employees from any claim, loss, damage, injury, or liability of any kind (including, without limitation, incidental and consequential damages, court costs, attorneys’ fees and costs of investigation), that arise directly or indirectly, in whole or in part, from that user’s use of this data, including any secondary or derivative use of the information provided herein.</p>
    </div>
  </div>
</div>




{% endblock content %}
{% block footer %}
    <small>
    <ul class="company">
      <li>© Team Indy</li>
    </ul>

      <ul class="footer-nav">
        <li><a href="/department/id/site/disclaimer">Disclaimer</a></li>
        <li><a href="mailto:Indy@CodeForAmerica.org">Contact</a></li>
      </ul>

    </small>

{% endblock footer %}
