{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12 schema-wrapper">
    <div class="schema-header">
      <h1>Dataset: Citizen Complaints</h1>
      <form method="get" action="/department/{{department.id}}/complaints.csv">
        <button type="submit">Download this dataset</button>
      </form>

      <form method="get" action="/department/{{department.id}}/demographics.csv">
        <button type="submit">Download Officer Demographic Information for the IMPD</button>
      </form>
    </div>
    <p> Please Note: The CPCO started using a new database and process for collecting this data in January 2014. Entries prior to January 2014 were entered into an older paper form, so they are unavailable in this dataset at this time.</p>


    <h4>Fields included in this dataset and their definitions:</h4>
    <table class="table schema-table">
      <tr>
        <th>Field</th>
        <th>Information</th>
      </tr>
      <tr>
        <td>Id</td>
        <td>This is a hashed unique identifier for a given complaint. Complaints may contain multiple allegations. When that is the case, there will be multiple entries for one incident number.</td>
      </tr>
      <tr>
        <td>Occured Date</td>
        <td>The date that the incident occurred.</td>
      </tr>
      <tr>
        <td>Division</td>
        <td>This is the Division that the officer is assigned to of the incident, such as Criminal Investigation and Administration.</td>
      </tr>
      <tr>
        <td>District</td>
        <td>This is the District, such as East District or NW District, or Branch, such as Homicide or Robbery, that the officer was assigned to at the time of the incident.</td>
      </tr>
      <tr>
        <td>Shift</td>
        <td>This is the shift, such as Day or Late shift, or section, such as crash investigation section, that the officer was assigned to at the time of the incident.
        </td>
      </tr>
      <tr>
        <td>Beat</td>
        <td>Some shifts contain this secondary level of detail on the officer's assignment.
        </td>
      </tr>
      <tr>
        <td>Finding</td>
        <td>Each complaint may contain multiple allegations, such as rudeness and inappropriate language. Each allegation receives separate findings. There are four possible findings:
        <ul>

        <li>Sustained means that the investigation agreed with the allegation in the complaint. When allegations are sustained, the Chief of Police will take the appropriate disciplinary action</li>
        <li>Not sustained means that the investigation did not find evidence to prove or disprove the complaint. If allegations are found to be not sustained, the officer's name is submitted to IMPD's Early Warning system.</li>
        </li>Exonerated means the incident happened, but it was lawful and proper.</li>
        <li>Unfounded means that the incident happened, however not as detailed in the complaint.</li></ul>
        Complaints that are still being investigated will be blank in this column.</td>
      </tr>
      <tr>
        <td>Allegation Type</td>
        <td>Allegations in complaints fall into a number of classes. Some classes of allegations are: Citizen Interactions, Bias Based Policing and Use of Force.</td>
      </tr>
      <tr>
        <td>Allegation</td>
        <td>Allegations are tied to the regulations and standards which Officers are held to. Examples are: rude, demeaning and affronting language, and failure to provide name or badge number, which both fall under the allegation class of citizen interaction.</td>
      </tr>
      <tr>
        <td>Resident Race</td>
        <td>The resident's race, with the following categories: Asian, Bi-racial, Black, Hispanic, Unknown, White.</td>
      </tr>
      <tr>
        <td>Resident Sex</td>
        <td>The resident's gender.</td>
      </tr>
      <tr>
        <td>Resident Age</td>
        <td>The resident's age at the time of the incident, if known.</td>
      </tr>
      <tr>
        <td>Officer Race</td>
        <td>The officer's race, with the following categories: Asian, Bi-racial, Black, Hispanic, Unknown, White.</td>
      </tr>
      <tr>
        <td>Officer Sex</td>
        <td>The officer's gender.</td>
      </tr>
      <tr>
        <td>Officer Age</td>
        <td>The officer's age at the time of the incident.</td>
      </tr>
      <tr>
        <td>Officer Years of Service</td>
        <td>The number of years the officer had been employed by IMPD at the time of the incident.</td>
      </tr>
      <tr>
        <td>Officer Indentifier</td>
        <td>This is a hased identifier used to identify the officer within this data, for example to see if an officer has received multiple complaints.</td>
      </tr>
    </table>
  </div>
</div>




{% endblock content %}
{% block footer %}
    <small>
    <ul class="company">
      <li>© Team Indy</li>
    </ul>

      <ul class="footer-nav">
        <li><a href="/department/id/site/disclaimer">Disclaimer</a></li>
        <li><a href="mailto:Indy@CodeForAmerica.org">Contact</a></li>
      </ul>

    </small>

{% endblock footer %}
