{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12 schema-wrapper">
    <div class="schema-header">
      <h1>Dataset: Use of Force Incidents</h1>
      <form method="get" action="/department/{{department.id}}/uof.csv">
        <button type="submit">Download this dataset</button>
      </form>

      <form method="get" action="/department/{{department.id}}/demographics.csv">
        <button type="submit">Download Officer Demographic Information for the IMPD</button>
      </form>
    </div>
    <p> Please Note: The CPCO started using a new database and process for collecting this data in January 2014. Entries prior to January 2014 were entered into an older paper form, so they are unavailable in this dataset at this time.</p>

    <h4>Fields included in this dataset and their definitions:</h4>
    <table class="table schema-table">
      <tr>
        <th>Field</th>
        <th>Information</th>
      </tr>
      <tr>
        <td>Id</td>
        <td>This is a hashed unique identifier for a given incident. Incidents may contain multiple uses of force. When that is the case, there will be multiple entries for one incident number.</td>
      </tr>
      <tr>
        <td>Occured Date</td>
        <td>The date that the incident occurred.</td>
      </tr>
      <tr>
        <td>Division</td>
        <td>This is the Division that the officer was assigned to at time of the incident, such as Criminal Investigation or Administration.</td>
      </tr>
      <tr>
        <td>District</td>
        <td>This is the District, such as East District or NW District, or Branch, such as Homicide or Robbery, that the officer was assigned to at the time of the incident.</td>
      </tr>
      <tr>
        <td>Shift</td>
        <td>This is the shift, such as Day or Late shift, or section, such as crash investigation section, that the officer was assigned to at the time of the incident.
        </td>
      </tr>
      <tr>
        <td>Beat</td>
        <td>Some shifts contain this secondary level of detail on the officer's assignment.
        </td>
      </tr>
      <tr>
        <td>Service Type</td>
        <td>The reason for the interaction, such as Traffic Stop or Call for Service.
        </td>
      </tr>
      <tr>
        <td>Use of Force Reason</td>
        <td>The reason the officer used force, such as Assaulting Officer(s) or Combative Suspect.
        </td>
      </tr>
      <tr>
        <td>Resident Race</td>
        <td>The resident's race, with the following categories: Asian, Bi-racial, Black, Hispanic, Unknown, White.</td>
      </tr>
      <tr>
        <td>Resident Sex</td>
        <td>The resident's gender.</td>
      </tr>
      <tr>
        <td>Resident Age</td>
        <td>The resident's age at the time of the incident, if known.</td>
      </tr>
      <tr>
        <td>Resident Arrested</td>
        <td>Whether the resident was arrested as part of the incident.</td>
      </tr>
      <tr>
        <td>Resident Charge Type</td>
        <td>If the resident was arrested as part of the incident, what they were charged with.</td>
      </tr>
      <tr>
        <td>Resident Condition</td>
        <td>Injuries the resident sustained, if any, such as Complaint of Pain or Laceration.</td>
      </tr>
      <tr>
        <td>Officer Race</td>
        <td>The officer's race, with the following categories: Asian, Bi-racial, Black, Hispanic, Unknown, White.</td>
      </tr>
      <tr>
        <td>Officer Sex</td>
        <td>The officer's gender.</td>
      </tr>
      <tr>
        <td>Officer Age</td>
        <td>The officer's age at the time of the incident.</td>
      </tr>
      <tr>
        <td>Officer Years of Service</td>
        <td>The number of years the officer had been employed by IMPD at the time of the incident.</td>
      </tr>
      <tr>
        <td>Officer Indentifier</td>
        <td>This is a hased identifier used to identify the officer within this data, for example to see if an officer has received multiple complaints.</td>
      </tr>
    </table>
  </div>
  <div class='row'>
    <div class="col-md-12 disclaimer">
      <p>DISCLAIMER OF LIABILITY: The City voluntarily provides the data on this website as a service to the public. The City retains ownership of any data or documents that originate with City, and the data may not be sold, published, or exchanged for commercial purposes. The City no representation, either implied or expressed, as to the content, accuracy, or completeness of any of the data provided at this website.  The City makes this data available on an “as is” basis and explicitly disclaims any representations and warranties.</p>

      <p>RESERVATION OF RIGHTS: The City reserves the right to discontinue availability of content on this website at any time and for any reason.  The City also reserves the right to claim or seek to protect any intellectual property rights in any of the information, images, software, or processes displayed or used at this website. The data provided on this website does not grant anyone any title or right to any patent, copyright, trademark or other intellectual property rights that the City may have in any of the information, images, software, or processes displayed or used at this website.</p>

      <p>INDEMNIFICATION: To the fullest extent permitted by law, any user of the data provided at this website shall defend, indemnify,  hold harmless the City, its officers, officials and employees from any claim, loss, damage, injury, or liability of any kind (including, without limitation, incidental and consequential damages, court costs, attorneys’ fees and costs of investigation), that arise directly or indirectly, in whole or in part, from that user’s use of this data, including any secondary or derivative use of the information provided herein.</p>
    </div>
  </div>
</div>




{% endblock content %}
{% block footer %}
    <small>
    <ul class="company">
      <li>© Team Indy</li>
    </ul>

      <ul class="footer-nav">
        <li><a href="/department/id/site/disclaimer">Disclaimer</a></li>
        <li><a href="mailto:Indy@CodeForAmerica.org">Contact</a></li>
      </ul>

    </small>

{% endblock footer %}
