
{% extends "layout.html" %}
{% block content %}
    <h1>Admin Dashboard</h1>

    <h2>Users</h2>
    <table class="table table-striped">
      <tr>
        <th>
          Name
        </th>
        <th>
          Departments
        </th>
        <th>
          Admin
        </th>
        <th>
        </th>
      </tr>
      {% for user in users %}
          <tr>
            <td>
              {{user.username}}
            </td>
            <td>
              <ul>
                {% for department in user.departments %}
                <li>
                  {{department.name}}
                </li>
                {% endfor%}
              </ul>
            </td>
            <td>
              {{user.is_admin()}}
            </td>
            <td>
              <a href='{{ url_for("admin.edit_user", user_id=user.id ) }}'>Edit</a>
            </td>
          </tr>
      {% endfor %}

    </table>
    <h2>Extractors</h2>
    <table class="table table-striped">
      <tr>
        <th>
          Name
        </th>
        <th>
          Departments
        </th>
        <th>
          Last Contact
        </th>
        <th>
        </th>
      </tr>
      {% for extractor in extractors %}
          <tr>
            <td>
              {{extractor.username}}
            </td>
            <td>
              <ul>
                {% for department in extractor.departments %}
                <li>
                  {{department.name}}
                </li>
                {% endfor%}
              </ul>
            </td>
            <td>
              {{extractor.last_contact}}
            </td>
            <td>
              <a href='{{ url_for("admin.edit_extractor", extractor_id=extractor.id ) }}'>Edit</a>
            </td>
          </tr>
      {% endfor %}

    </table>
    <h2>Departments</h2>
    <table class="table table-striped">
      <tr>
        <th>
          Name
        </th>
        <th>
          Short Name
        </th>
        <th>
        </th>
      </tr>
      {% for department in departments %}
          <tr>
            <td>
              {{department.name}}
            </td>
            <td>
              {{department.short_name}}
            </td>
            <td>
              <a href='{{ url_for("department.department_dashboard", department_id=department.id ) }}'>Edit</a>
            </td>
          </tr>
      {% endfor %}

    </table>
    <h2>Outstanding Invite Codes</h2>
    <table class="table table-striped">
      <tr>
        <th>
          Department
        </th>
        <th>
        Invite Code
        </th>
      </tr>
      {% for invite in invites %}
          <tr>
            <td>
              {{invite.department.name}}
            </td>
            <td>
              {{invite.code}}
            </td>
          </tr>
      {% endfor %}
    </table>
    <h2>Interest Form Responses</h2>
    <table class="table table-striped">
      <tr>
        <th>
          Name
        </th>
        <th>
          Location
        </th>
        <th>
          Agency
        </th>
        <th>
          Phone
        </th>
        <th>
          Email
        </th>
        <th>
          Comments
        </th>
      </tr>
      {% for interested in interesteds %}
      <tr>
        <td>
          {{interested.name}}
        </td>
        <td>
          {{interested.location}}
        </td>
        <td>
          {{interested.agency}}
        </td>
        <td>
          {{interested.phone}}
        </td>
        <td>
          {{interested.email}}
        </td>
        <td>
          {{interested.comments}}
        </td>
      </tr>
      {% endfor %}
    </table>

{% endblock %}
